<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compilers IDE</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'compiler/styles.css' %}">
    </head>
    <body>
        <h1>Diana's and Diego's IDE</h1>
        
        <div class="containerPrincipal">
            <div class="areasContainer">
                <textarea id="codeArea" class="textArea"></textarea>
        
                <div id="errorArea" class="errorArea">
                    
                </div>
            </div>
            
            <div class="bttnContainer">
                <button id="executeBtn" class="excecuteBttn">Ejecutar</button>
                <button id="clearBtn" class="cleanBttn">Limpiar</button>
            </div>
        </div>

        <script>
            // Obtener los elementos por su id
            const codeArea = document.getElementById('codeArea');
            const errorArea = document.getElementById('errorArea');
            const clearBtn = document.getElementById('clearBtn');
        
            // Añadir un evento de clic al botón de limpiar
            clearBtn.addEventListener('click', function() {
                // Limpiar el contenido de las áreas
                codeArea.value = '';
                errorArea.innerText = '';
            });
        </script>
    </body>
</html>
