<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compilers IDE</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'compiler/styles.css' %}">
    </head>
    <body>
        <h1>Diana's and Diego's IDE</h1>
        
        <div class="containerPrincipal">
            <div class="areasContainer">
                <div class="textArea">
                    
                </div>
        
                <div class="errorArea">
                    
                </div>
            </div>
            
            <div class="bttnContainer">
                <button class="excecuteBttn">Ejecutar</button>
                <button class="cleanBttn">Limpiar</button>
            </div>
        </div>
    </body>
</html>
