body{
    background-color: #c1d9cd;

    width: 100%;
    height: 950%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerPrincipal{
    width: 1000px;
    height: 580px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.areasContainer{
    display: flex;
    justify-content: space-between;
}

.textArea{
    width: 750px;
    height: 504px;

    border: solid;

    background-color: #f7eadc;

    resize: none; /* Deshabilita el redimensionamiento */
    overflow: auto; /* Habilita el scroll en caso de overflow */
    font-family: 'Courier New', Courier, monospace; /* Fuente de texto similar a un editor de código */
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.errorArea{
    width: 230px;
    height: 504px;

    border: solid;

    background-color: #f7eadc;

    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.bttnContainer{
    width: 100%;

    display: flex;
    gap: 25px;
    justify-content: center;
}

.cleanBttn{
    width: 150px;
    height: 50px;

    border-radius: 15px;

    background-color: #eb613b;
    color: white;
    font-weight: bold;
}

.excecuteBttn{
    width: 150px;
    height: 50px;

    border-radius: 15px;

    background-color: #4d3b36;
    color: white;
    font-weight: bold;
}

.cleanBttn:hover,
.excecuteBttn:hover {
    opacity: 0.9;
}